@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-950 m-0 font-sans antialiased;
}

/* Custom scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #52525b #27272a;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
  }
}
