{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "endOfLine": "lf",
  "printWidth": 100,
  "arrowParens": "always",
  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "embeddedLanguageFormatting": "off",
  "plugins": [
    "prettier-plugin-organize-imports"
  ]
}